p, a, li {
	font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5 ,h6 {
	font-family: "Open Sans", sans-serif;
}
a {
	font-weight: 300;
}
.blue-link {
	background: #0077c3;
    color: #fff;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}
header#header {
	display: flex;
	justify-content: space-between;
}
.tri {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}
.hero {
    height: 500px;
    width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
.box-title {
	font-size: 30px;
	line-height: 38px;
	padding: 25px;
}
.header-title {
    color: #fff;
    font-size: 60px;
    line-height: 68px;
}
.header-sub {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.cont {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
.flexx {
	display: flex;
	height: 38px;
	align-items: center;
	white-space: nowrap;
}
.vert {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.hero .vert {
	align-items: flex-start;
	height: 100%;
	justify-content: center;
}
