* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
p, a, li {
	font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5 ,h6 {
	font-family: "Open Sans", sans-serif;
}
a {
	font-weight: 300;
	text-decoration: none;
}
.blue-link a {
	background: #0077c3;
    color: #fff !important;;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding: 10 15px;
    text-decoration: none;
}
.blue-link {
    order: 2;
}
.call {
	order: 1;
}
.sticky-phone {
    float: right;
    padding: 15px;
    margin-top: 0px;
    font-size: 20px;
    color: #000000;
    text-align: left;
    line-height: 18px;
    margin-right: 20px;
    text-align: right;
}
.sticky-phone a {
	text-decoration: none;
	color: #0077c3;
	font-weight: 600;
}
a {
	color: #0077c3;
}
header#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tri {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {
    height: 700px;
    width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
.box-title {
	font-size: 30px;
	line-height: 38px;
	padding: 25px;
}
.header-title {
	font-weight: 300;
    color: #fff;
    font-size: 60px;
    line-height: 68px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}
.header-sub {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 30px;
}
.cont {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
.flexx {
	display: flex;
	height: 38px;
	align-items: center;
	white-space: nowrap;
}
.vert {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.hero .vert {
	align-items: flex-start;
	height: 100%;
	justify-content: center;
	width: 100%;
	padding-right: 15%;
}
.blue-sub {
    font-size: 14px;
    line-height: 25px;
    color: #0077c3;
    font-weight: 700;
    margin-bottom: 30px;
}
.gray-title {
    font-size: 45px;
    color: #000;
    font-weight: 300 !important;
}
body {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    color: #000000;
}
#menu-main {
	display: flex;
	list-style: none;
	padding: 0;
}
#menu-main li a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 1em 0;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
    color: inherit;
    -webkit-transition: .4s all;
    transition: .4s all;
    font-weight: 300;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sub-menu {
	max-height: 0px;
	position: absolute;
	top: 40px;
	left: 0;
	padding: 0;
	list-style: none;
	background: white;
	transition: all 0.2s ease;
	overflow: hidden;
}
.sub-menu li {
	margin: 0;
	padding: 5px 0;
	white-space: nowrap;
}
.menu-item-has-children {
	position: relative;
}
.menu-item-has-children:hover .sub-menu {
	max-height: 999px;
}
.menu-item {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
}
.frame .tent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 750px;
	max-width: 100%;
	padding: 80px 0;
	text-align: center;
}
.frame {
	display: flex;
	justify-content: center;
	align-items: center;
}
.slickit {
	width: 800px;
	margin: 0 auto;
}
.dott {
	width: 15px;
	height: 15px;
	background: red;
	opacity: 0.75;
	background: #0077c3;
	border-radius: 15px;
	margin: 0 5px;
}
.slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	transition: all 0.2s ease;
}
.slick-active .dott {
	opacity: 1;
}
.white-title {
    font-size: 45px;
    color: #fff;
}
#parts {
	width: 1140px;
	margin: 0 auto;
	column-count: 3;
	padding: 0;
	list-style: none;
	text-align: center;
}
#parts {
	white-space: nowrap;
}

.bluebutt {
	border-color: rgb(0, 119, 195);
	color: rgb(0, 119, 195);
	background-color: transparent;
	padding: 10px 15px;
	display: block;
	margin: 40px auto;
	border: 2px solid;
	width: 200px;
	text-align: center;
	font-weight: 400;
}
.tester {
	background: #eee;
	text-align: center;
	height: 500px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
footer {
	background: black;
	display: flex;
	flex-direction: column;
}
footer h6 {
	font-weight: 800;
	font-size: 15px;
	line-height: 15px;
	color: #ffffff;
}
footer a {
	color: white !important;
	margin: 0;
	font-size: 12px;
	line-height: 16px;
}
.shade {
	background: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-right: 30px;
}
.shade a {
	padding: 15px 20px;
	display: block;
}
.blu {
	background: #0077c3;
	color: white !important;
}
.fat-white {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}
.flex {
	display: flex;
}
.quart {
	flex: 25%;
}
footer p {
	color: #555;
}
#menu-footer-1 {
	padding: 0;
}
#menu-footer-1 li {
	display: block;
	margin: 0;
	line-height: 16px;
}
.footlogo {
	margin-top: 30px;
}
.closer p {
	font-size: 12px;
	color: #555;
}
.closer a {
	color: #555 !important;
}
